*{
    font-size:20px;


}
table{
    background-color: red ;

}
tr td{
    padding:10px;
    border:1px solid white;
}
input {
    font-size:20px;
    color:red;
}
.btn{
    margin: 20px;
    padding: 20px 30px;
    background-color: yellow;
    color: red;;
}